body {
    min-width: 1200px;
    margin: 0 auto;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    background-color: #859d8f;
}
.button  {
    font: inherit;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    border-radius: 20px;
    box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
    background-image: linear-gradient(to top, #e74a35, #f26843);
    border: none;
}
.button:hover,
.button:focus {
    box-shadow: 0px 2px 2px 0 #ac1000;
    background-image: linear-gradient(to top, #e74a35, #f26843), linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}
.button:active {
    box-shadow: inset 0px 2px 2px 0 #942718;
    background-image: linear-gradient(to bottom, #e74a35, #f26843), linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
a {
    color: #323232;
    text-decoration: none;
}
.contaniar {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 1146px;
    padding: 0 27px;   
}
.main-navigation {
    display: flex;
    align-items: center;
    margin-top: 9px;
}
.main-header-logo {
    align-self: flex-start;
    width: 154px;
    height: 64px;
}
.main-navigation li{
    list-style-type: none;
    font-size: 16px;
    line-height: 1.38;
    color: #ffffff;
}
.site-navigation {
    flex-grow: 2;
    display: flex;
}
.site-navigation-item {
    margin-right: 17px;
    padding: 9px 13px;
    font-weight: bold;
    list-style: none;
    text-decoration: underline;
    color: #ffffff;
}
.site-navigation li {
    position: relative;
}
.site-navigation-item:hover,
.site-navigation-item:focus {
    margin-right: 17px;
    padding: 9px 13px;
    background-color: #f7f6f3;
    text-decoration: none;
    color: #323232;
    font-weight: bold;
    list-style: none;
    border-radius: 20px;
}
.site-navigation-item:active {
    margin-right: 17px;
    padding: 9px 13px;
    background-color: #ededed;
    color: #323232;
    font-weight: bold;
    text-align: left;
    list-style: none;
}
.site-navigation .site-navigation-item:not([href]) {
    margin-right: 17px;
    padding: 9px 13px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.13;
    text-align: left;
    color: #ffffff;
    background-color: #d07058;
    text-decoration: none;
    border-radius: 20px;
}
.dropdown-catalog {
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    display: none;
    top: 100%;
    left: 0;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    width: 143px;
    color: #323232;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
}
.site-navigation-item:hover ~ .dropdown-catalog {
    display: block;
}
.dropdown-catalog a{ 
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 143px;
    height: 28px;
    color: #323232; 
    padding-left: 20px;
    padding-top: 5px; 
}
.dropdown-catalog li:first-child::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 6px;
    left: 6px;
    height: 1px;
    background-color: #323232;
}
.dropdown-catalog a:hover,
.dropdown-catalog a:focus {
    display: block;
    width: 143px;
    height: 28px;
    box-sizing: border-box;
    color: #323232;
    background-color: #fbded7;
    padding-top: 5px;
}
.dropdown-catalog a:not([href]) {
    background-color: #d07058;
    display: block;
    padding: 6px auto;
}
.user-navigation {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}
.user-navigation-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    list-style: none;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}
.user-navigation li {
    position: relative;
}
.user-navigation-item:hover,
.user-navigation-item:focus {
    padding: 8px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    text-decoration: none;
    color: #323232;
    background-color: #f8f7f4;
}
.user-navigation-item path,
.user-navigation-item path {
    fill: #ffffff;
}
.user-navigation-item:hover path,
.user-navigation-item:focus path {
    fill: #323232;
}
.user-navigation-item:hover ~ .search {
    display: block;
}
.search {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    box-sizing: border-box;
    width: 311px;
    padding: 20px 15px;   
    color: #999999;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);  
}
.search input[type="search"] {
    box-sizing: border-box;
    padding: 15px;
    width: 279px;
    color: #999999;
    border: 1px solid rgba(154, 154, 154, 0.52);
    border-radius: 5px;
}
.search input[type="search"]:hover {
    box-sizing: border-box;
    padding: 14px;
    width: 279px;
    color: #999999;
    border: 2px solid rgba(154, 154, 154, 0.52)
}
.search input[type="search"]:focus {
    box-sizing: border-box;
    padding: 14px;
    width: 279px;
    font-weight: bold;
    color: #323232;
    border: solid 2px rgba(46, 136, 228, 0.52);
}
.user-navigation-item.entrance,
.user-navigation-item.entrance:hover,
.user-navigation-item.entrance:focus {
    padding: 6px 16px 7px;
}
.user-navigation-item.entrance svg {
    margin-right: 7px;
}
.user-navigation-item.entrance:hover ~ .login-form {
    display: block;
}
.login-form {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    display: none;
    width: 237px;
    padding: 0 20px;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;   
}
.login-form p {
    margin-top: 20px;
}
.login-form .button {
    width: 100px;
    height: 44px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
    padding: 15px;
    width: 211px;
    color: #999999;
    border: 1px solid rgba(154, 154, 154, 0.52);
    border-radius: 5px;
}
.login-form input[type="text"]:hover,
.login-form input[type="password"]:hover {
    padding: 14px;
    width: 211px;
    color: #999999;
    border: 2px solid rgba(154, 154, 154, 0.52);
}
.login-form input[type="password"]:focus 
.login-form input[type="text"]:focus {
    padding: 14px;
    width: 211px;
    font-weight: bold;
    color: #323232;
    background-color: #ffffff;
    border: solid 2px rgba(46, 136, 228, 0.52);
}
.login-link {
    width: 120px;
    text-align: left;
    float: right; 
}
.login-link a {
    font-size: 13px;
    color: #323232;
    text-decoration: underline;
    line-height: 1.85;
}
.login-link a:hover,
.login-link a:focus {
    color: #e84d37;
    text-decoration: underline;
}
.user-navigation-item.basket-empty,
.user-navigation-item.basket-full {
    padding: 7px 16px 7px 45px;
}
.basket-empty::before {
    content: "";
    position: absolute;
    top: 7px;
    right: 63px;
    width: 21px;
    height: 20px;
    background: url("../img/icon_basket.svg") no-repeat 0 0;
}
.basket-full {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    text-align: right;
    color: #323232;
    background-color: #f8f7f4;
}
.basket-full::before {
    content: "";
    position: absolute;
    top: 6px;
    right: 80px;    
    width: 21px;
    height: 20px;
    background: url("../img/icon_basket-red.svg") no-repeat 0 0;  
}
.user-navigation-item:hover ~ .basket {
    display: block;
}
.basket {
    width: 510px;
    padding: 20px 15px 60px;
    display: none;
    position: absolute;
    z-index: 2;
    top: 100%;
    right: 0;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
}
.list-basket.item-basket {
    position: relative;
}
.close {
    position: absolute;
    left: 15px;
    top: 15px;
    border: none;
    background-color: #f8f7f4;
    background-image: url("../img/icon_close.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 11px 11px;
    width: 11px;
    height: 11px;
}
.list-basket {
    list-style: none;
    padding: 0;
}
.item-basket { 
    margin-bottom: 20px;
    padding: 0;
    padding-left: 41px;
    display: flex;
    align-items: center;  
    justify-content: space-between;
}
.item-basket li {
    margin-right: 15px;
    font-size: 13px;
    text-align: left;
    line-height: 1.28;
    color: #323232;
}
.item-basket li:nth-child(2) {
    width: 215px;
}
.list-basket > li:last-child {
    border-bottom: 1px solid #999999;
}
.basket p {
    margin: 17px 0;
    color: #323232;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
    text-align: right;
}
.basket span {
    color: #999999;
}
.pic {
    border-radius: 50%;
    width: 33px;
}
.basket .button {
    font-weight: bold;
    line-height: 1.33;
    font-size: 18px;
    padding: 14px;
    position: absolute;
    bottom: 20px;
    right: 15px;
}
.advantages {
    padding: 30px 20px 5px;
    color: #323232;
    background-image: url("../img/bg_advantages.jpg");
    background-repeat: repeat;
    border-radius: 15px;
}
.advantages-list {
    margin-top: 25px;
    list-style: none;
    columns: 2 475px;
    column-gap: 90px;
}
.advantages-item {
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.38;
    text-align: left;
}
.advantages-header {
    font-size: 24px;
    line-height: 1.25; 
    font-weight: 500;
}
.blog-mail {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}
.news-blog {
    background: url("../img/bg_block-new.jpg") no-repeat;
    border-radius: 15px;
    width: 560px;
    background-origin: border-box; 
    padding-bottom: 10px;
}   
.news-blog p {
    margin: 26px 20px 13px;
    text-align: left;
    font-size: 16px;
    line-height: 1.38;
    color: #323232;
    font-weight: 500; 
}
.news-blog a {
    margin: 0 20px; 
    display: block;
    box-sizing: border-box;
    width: 285px;
    text-decoration: underline;
    line-height: 1.25;
    font-size: 24px;
    font-weight: bold;
    color: #323232;  
}
.news-blog a:hover,
.news-blog a:focus,
.news-blog a:active {
    line-height: 1.25;
    font-size: 24px;
    font-weight: bold;
    color: #e84d37;
}
.border-sweet-mail {
    margin-left: 40px;
    width: 560px;
    background: url("../img/bg_mail.svg") no-repeat;  
    padding: 4px 6px;
}
.sweet-mail {
    width: 549px;
    border-radius: 10px;
    background-color: #f8f7f4;
    margin: 0;
    padding: 35px 0;
}
.sweet-mail p {  
    margin: 0 20px 33px;
    width: 506px;
    text-align: left;
    font-size: 16px;
    color: #5a5a5a;
    line-height: 1.38;
}
.sweet-mail .button {
    margin-left: 11px;
    width: 129px;
    height: 44px;
}
.sweet-mail input[type="text"] {
    margin-left: 20px; 
    width: 353px;
    float: left;
    padding: 15px;
    color: #999999;
    border: 1px solid rgba(154, 154, 154, 0.52);
    border-radius: 5px;
}
.sweet-mail input[type="text"]:hover {
    padding: 14px;
    color: #999999;
    border: 2px solid rgba(154, 154, 154, 0.52);
}
.sweet-mail input[type="text"]:focus{
    padding: 14px;
    font-weight: bold;
    color: #323232;
    background-color: #ffffff;
    border: solid 2px rgba(46, 136, 228, 0.52);
}
.footer-main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
} 
.footer-social {
    padding: 0;
    display: flex;
    font-size: 13px;
    list-style: none;
    text-align: left;
    line-height: 1.38; 
    color: #ffffff;  
}
.footer-social a path {
    opacity: 0.8;
}
.footer-social a:active path {
    fill: #ededed;
}
.footer-social li{
    margin: auto 0;
    margin-right: 11px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 32px; 
    height: 32px;
}
.footer-social li:hover,
.footer-social li:focus {
    border: 3px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    width: 32px; 
    height: 32px;
}
.footer-info {
    padding: 0;  
    position: relative;
    padding-left: 24px; 
    width: 305px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 13px;
    line-height: 1.38;
    list-style: none;
    text-decoration: underline;
}
.footer-info li:nth-child(2) {
    margin-right: 56px;
}
.footer-info li:nth-child(1)::before {
    content: "";
    background: url("../img/heart.svg") no-repeat;
    background-position: 0 0;
    width: 15px;
    height: 13px;
    position: absolute;
    left: 0;  
}
.footer-info a {
    color: #ffffff;
    text-align: left; 
}
.footer-info a:hover,
.footer-info a:focus {       
    color: #ffbc9e;
}
.copyright {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
}
.copyright a {
    color: #ffffff;
    text-decoration: underline;   
}
.copyright a:hover,
.copyright a:focus {
    color: #ffbc9e;
    text-decoration: underline;;
}
.feedback {
    display: none;
    position: fixed;
    top: 120px;
    left: 50%;
    margin-left: -230px;
    width: 430px;
    border-radius: 10px;
    background-color: #f8f7f4;
    color: #323232;
    padding: 24px;
    padding-bottom: 96px;
}
.feedback h2{
    margin: 0;
    font-size: 24px;
    line-height: 1.17;
    font-weight: 500;
    text-align: left;
}
.feedback p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
}
.feedback input[name="name"],
.feedback input[name="mail"] {
    width: 235px;
    padding: 16px;  
    text-align: left; 
    color: #999999;
    background-color: #ffffff;
    border: solid 1px rgba(178, 178, 178, 0.52);
    border-radius: 5px;
    line-height: 1.71;
}    
.feedback input[name="name"]:hover,
.feedback input[name="mail"]:hover {
    width: 235px;
    padding: 15px;  
    color: #999999;
    border: 2px solid rgba(154, 154, 154, 0.52);
}
.feedback input[name="name"]:focus,
.feedback input[name="mail"]:focus {
    width: 235px;
    padding: 15px;  
    font-weight: bold;
    color: #323232;
    background-color: #ffffff;
    border: solid 2px rgba(46, 136, 228, 0.52);
}
.feedback input[name="comment"] {
    width: 350px;
    padding: 15px 16px 125px;
    text-align: left; 
    color: #999999;
    background-color: #ffffff;
    border: solid 1px rgba(178, 178, 178, 0.52);
    border-radius: 5px;
    line-height: 1.71;
}
.feedback input[name="comment"]:hover {
    width: 350px;
    padding: 14px 15px 124px;
    color: #999999;
    border: 2px solid rgba(154, 154, 154, 0.52);
}
.feedback input[name="comment"]:focus {
    width: 350px;
    padding: 14px 15px 124px;
    font-weight: bold;
    color: #323232;
    background-color: #ffffff;
    border: solid 2px rgba(46, 136, 228, 0.52);
}
.feedback .button {
    position: absolute;
    right: 32px;
    bottom: 27px;
    padding: 14px 24px;
}
.feedback .close {
    border: none;
    background-color: #f8f7f4;
    float: right;
    width: 18px;
    height: 17px;
    background-image: url("../img/icon_close.png");
    background-size: 18px 17px;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.name-category {
    clear: both;
    font-size: 35px;
    font-weight: bold;
    line-height: 1.17;
    text-align: left;
}
.time-contacts {
    text-align: right;
}
.time-contacts a {
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.09;
    text-align: right;
}
.time-contacts p {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.14;
    text-align: right;
}
.breadcrumbs {
    position: absolute;
    top: 0;
    padding: 0;
    width: 500px;
    display: flex;
    list-style: none;
}
.breadcrumbs li {
    padding-right: 20px;
    position: relative;
}
.breadcrumbs li:nth-child(1)::after,
.breadcrumbs li:nth-child(2)::after {
    content: "";
    background-image: url("../img/icon-right-small.svg");
    background-position: 0 0;
    background-size: 4px 6px;
    width: 8px;
    height: 6px;
    position: absolute;
    bottom: 9px;
    right: 6px;
}
.breadcrumbs a {
    color: #ffffff;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
}
.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
    color: #ffbc9e;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
}
.catalog {
    padding: 0;
    padding-bottom: 83px;
}
.catalog-list {
    margin: -13px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.catalog-item {
    position: relative;
    width: 293px; 
    margin: 0;   
}
.photo {
    border-radius: 50%;
    margin: 6px 13px;
}
.catalog-item p {
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
    width: 267px;
    margin: 0;
}
.catalog-item a:hover,
.catalog-item a:focus{
    position: absolute;
    z-index: 1;
    width: 293px;
    height: 405px;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    text-decoration: none;
    color: #ffbc9e;
    background-color:  rgba(255, 255, 255, 0.2);
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);   
}
.catalog-item .button {
    display: none;
    position: absolute;
    left: 46px;
    top: 339px;
    padding: 13px 17px;
    z-index: 2;
}
.catalog-item:hover .button,
.catalog-item:focus .button {
    display: block;
}
.price {  
    text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
    font-size: 45px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    color: #ffffff;
    position: absolute;
    top: 220px;
    left: 13px;
    z-index: 1;
}  
.weight {
    text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    color: #ffffff;
    position: absolute;
    top: 225px;
    left: 95px;
    padding-left: 30px;
    z-index: 1;
}
.weight::before {
    content: "";
    position: absolute;
    left: 0;
    width: 31px;
    height: 36px;
    background-image: url("../img/icon_ruble.svg");
    background-repeat: no-repeat;
    background-position:  0 0; 
}